.addEventBody {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../logo_transparent.png");
  background-color: rgb(167, 166, 166);
  background-size: contain;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}

.demInputs {
  background-color: #35f18dcb;
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}

.demInputs > input {
  box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.demInputs > textarea {
  box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.addEventPageButton {
  width: 100px;
  border-color: #f34ea7;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f34ea7;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
