.profileEventPic {
  width: 10vw;
}

.profilePic {
  width: 30vw;
  margin-top: 20px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.profileMainBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Quattrocento Sans", sans-serif;
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.671);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.username {
  font-size: 36px;
}

.userMainInfo {
  display: flex;
  justify-content: space-around;
}

.userInfoForPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
}

.eventsCompletedMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.eventsCompletedMainContainer > span {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.futureContainer {
  margin-top: 10px;
  background-color: rgb(209, 207, 207);
  height: 35vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.pastContainer {
  margin-top: 10px;
  background-color: rgb(209, 207, 207);
  height: 30vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.futureEventsMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.futureEventsMainContainer > span {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.profilePageButtons > button {
  text-align: center;
  font-family: "Quattrocento Sans", sans-serif;
  color: black;
  margin-top: 12px;
  max-height: 4vh;
  width: 30px;
  border-color: #4ef39a;
  border-radius: 50px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #4ef39a;
}

.profilePageButtons {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.profileEventPic {
  /* width: 70%; */
}

@media (max-width: 550px) {
  .profilePic {
    width: 40vw;
  }
  .profileContainer {
    width: 100vw;
  }
  .pastContainer,
  .futureContainer {
    width: 35vw;
  }
  .futureContainer {
    height: 40vh;
  }
  .userMainInfo {
    flex-direction: column-reverse;
    align-items: center;
  }
  .profileEventPic {
    width: 25vw;
  }
}

@media (max-width: 1000px) {
  .futureEventsMainContainer > span,
  .eventsCompletedMainContainer > span {
    flex-direction: column;
    align-items: center;
  }
}
