.headerContainer {
  width: 100vw;
  min-height: 10vh;
  max-height: 30vh;
  max-width: 1920px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleMB {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.welcomeContainer {
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  /* margin-top: 5px; */
}

.welcomeHeader {
  margin-top: 15px;
}

.logoutButton {
  color: black;
  margin-top: 5px;
  max-height: 6vh;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #28cc9e;
  border-color: rgb(88, 88, 88);
}

.headerLinks {
  width: 100vw;
  position: absolute;
  height: 15vh;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  height: 8vh;
  margin-left: 15px;
}

.menuButton {
  margin-right: 15px;
  margin-top: 5px;
  max-height: 6vh;
  color: black;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #28cc9e;
  border-color: rgb(88, 88, 88);
}
