.headerContainer {
  width: 100vw;
  min-height: 10vh;
  max-height: 30vh;
  max-width: 1920px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleMB {
  /* background-color: #4ef39a; */
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.welcomeContainer {
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  margin-top: 5px;
}

.welcomeHeader {
  margin-top: 15px;
  font-family: "Indie Flower", cursive;
  font-size: 24px;
}

.logoutButton,
.menuButton {
  font-family: "Quattrocento Sans", sans-serif;
  color: black;
  margin-top: 12px;
  max-height: 4vh;
  width: 70px;
  border-color: #65a5a5b0;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #64a0a8;
}

.headerLinks {
  font-family: "Quattrocento Sans", sans-serif;
  width: 100vw;
  position: absolute;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.822);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.responsiveHeaderLinks {
  display: none;
}

.logo {
  height: 8vh;
  margin-left: 15px;
}

.menuButton {
  margin-right: 20px;
}

@media (min-width: 1440px) {
  .menuButton {
    display: none;
  }
  .headerLinks {
    display: none;
  }
  .responsiveHeaderLinks {
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
  }
  .titleMB {
    justify-content: space-evenly;
  }
}

@media (max-width: 426px) {
  .welcomeHeader {
    display: none;
  }
  .menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  .headerLinks {
    height: 50vh;
    flex-direction: column;
  }
}
