.commentMappedContainer {
  background-color: rgb(212, 212, 212);
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Quattrocento Sans", sans-serif;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.commentContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 5px;
  width: 80vw;
  height: 800vh;
  overflow-x: auto;
}

.commentName,
.commentContent,
.deleteButton,
.editButton {
  margin-left: 20px;
}

.deleteButton,
.editButton,
.CreateCommentSubmit,
.submitEdit,
.CreateCommentContainer > button {
  font-family: "Quattrocento Sans", sans-serif;
  width: 100px;
  border-color: #4ef39a;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #4ef39a;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.submitEdit,
.deleteButton,
.editButton {
  max-height: 20px;
}

.newCommentText,
.editCommentText {
  box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid rgb(134, 134, 134);
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.newCommentText {
  width: 60vw;
}

.editCommentText {
  width: 60%;
}

.editDeleteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  margin-right: 20px;
}

.editCommentAndButton {
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
}

.CreateCommentContainer {
  width: 80vw;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.newCommentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentMainContainer {
  /* background-color: #4ef39a; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: scroll;
  height: 100vh;
}

@media (max-width: 426px) {
  .commentMappedContainer {
    height: 15vh;
    width: 70vw;
  }
}
